body{
    
     font-size: 40px;
 }
 ul, ol{
     color: green;
    padding:0;
}
span{
    color: rgb(46, 100, 100);
}
div{
    color: blueviolet;
}
form{
    color: brown;
}
li{
    
    margin-left: 60px;
}
.tag{
    border: solid 4px;
    margin: 5px;
}
.tag label{
    color: #fff;
    font-size: 25px;
    vertical-align: top;
    margin-right: 10px;
    padding: 0px 5px 3px 3px;
}